* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
background-color: #fcc93c;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 99vw;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 80px;
  color: #f56022;
  text-shadow: 5px 5px #558ABB;
  margin: 10px;

}

.central-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 80%;
  width: 100%;
}

.instructions {
  border: 1px solid black;
  height: 100%;
  width: 20%;
  max-width: 250px;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px 5px black;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'Russo One', sans-serif; 
}

.instructions button {
  width: 200px;
}
.player-data {
  font-weight: 800;
}

.player-data span {
  font-weight: bold;
  color: #f56022;
}

.options {
  border: 1px solid black;
  width: 250px;
  height: 750px;
  box-shadow: 10px 10px 5px black;
}

.game-container {
  height: 95%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px rgb(59, 59, 59);
}

.game-container > div {
  margin: 0;
  height: 5%;
  width: 5%; 
  border: 5px solid rgba (255, 255, 255, 0) 
}

.game-container .player {
  background-image: url(/assets/panic_sprite.gif);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.left {
  transform: scaleX(-1); 
}

.right {
  background-image: url(/assets/panic_sprite.gif);
  transform: scaleX(-1);
}

.aliens {
  background-image: url(/assets/javascript.png);
  background-size: contain;
  background-repeat: no-repeat;

}

/* .aliensjs {
  background-image: url(/assets/javascript.png);
}

.alienshtml {
  background-image: url(/assets/html_logo.png);
}

.alienscss {
  background-image: url(/assets/css_logo.png);
} */

.laser {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/assets/duck_laser.png);
}

.barrier {
border: 0;
}

.barrier-bottom {
border: 0;
}

.bomb {
  background-image: url(/assets/pngegg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.mothership {
  background: url(/assets/mothership.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.game-over {
  display: none;
  height: 500px;
  width: 750px;
  background-color: red;
  position: absolute;
  box-shadow: 10px 10px 5px black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-over p {
  font-family: 'Russo One', sans-serif;
  font-size: 150px;
  color: white;
  text-align: center;
  margin: 0px;
}

.game-over button {
  width: 200px;
  height: 75px;
  border: none;
  border-radius: 15px;
  font-size: 40px;
  color: white;
}

.continue {
  background-color: green;
}

.give-up {
  background-color: darkred;
}

.continue:hover {
  transform: scale(1.2);
  transition: 3s ease;
}

.give-up:hover {
  transform: scale(1.2);
  transition: 3s ease;
}

.level-up {
  display: none;
  height: 500px;
  width: 750px;
  background-color: grey;
  position: absolute;
  box-shadow: 10px 10px 5px black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.level-up button {
  width: 200px;
  height: 75px;
  border: none;
  border-radius: 15px;
  font-size: 40px;
  color: white;
}

.level-indicator {
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 20px;
}

.level-up button {
  width: 200px;
  height: 75px;
  border: none;
  border-radius: 15px;
  font-size: 40px;
  color: white;
}
.next-level {
  background-color: green;
}

.next-level:hover {
  transform: scale(1.2);
  transition: 3s ease;
}

.start {
  background-color: rgba(255,255,255,0.5);
  border: none;
  height: 50px;
  font-size: 20px;
  font-family:'Russo One', sans-serif;
  margin-bottom: 10px;
}

.options-button {
  background-color: rgba(255,255,255,0);
  border: none;
  height: 50px;
  font-size: 20px;
  font-family:'Russo One', sans-serif;
  border: 3px solid black;
  margin-bottom: 5px;
  position: relative;
}

.options-explainer {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(255,255,255, 0.3);
  position: absolute;
}

.stormtrooper-explainer {
  right: -100px;
  top: 20px;
  max-width: 150px;
  display: none;
}

.sfx-explainer {
  right: -105px;
  max-width: 100px;
  display: none;
}

.music-explainer {
  right: -105px;
  max-width: 100px;
  display: none;
}


.stormtrooper {
  font-size: 15px;
}

.active {
  background-color: rgba(255,255,255, 1); 
}

.exploded {
  background-image: url('/assets/explode.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

.hit {
  background-image: url('/assets/blood.gif');
  background-size: contain;
  background-repeat: no-repeat;
}

